@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  @apply text-xl sm:text-3xl text-center text-main font-bold leading-7 tracking-wide;
}

h1 > span {
  background: linear-gradient(transparent 70%, theme(colors.underline.blue) 0%);
}

h2 {
  @apply text-lg sm:text-2xl text-main font-semibold leading-6 tracking-wide;
}

h2 > span {
  background: linear-gradient(transparent 70%, theme(colors.underline.orange) 0%);
}

h3 {
  @apply text-base sm:text-xl text-main font-medium leading-5 tracking-wide;
}

h3 > span {
  background: linear-gradient(transparent 70%, theme(colors.underline.yellow) 0%);
}

p {
  @apply text-paragraph tracking-wide text-sm sm:text-base;
}

.nbr-blocks {
  @apply flex flex-col gap-5;
}

.nbr-inline-code {
  @apply text-pink-700 text-sm px-2 py-1 font-normal bg-gray-100 rounded break-words;
}

.nbr-caption {
  @apply text-right opacity-70;
}

.nbr-caption > span {
  @apply text-paragraph text-base tracking-wide;
}

.nbr-link {
  @apply text-link no-underline border-b border-solid border-link hover:opacity-70;
}

.nbr-block-quote {
  @apply border-l-4 text-placeholder border-solid border-placeholder px-4 py-2;
}

.nbr-block-code {
  @apply text-sm;
}

.nbr-block-code pre::-webkit-scrollbar {
  @apply hidden !important;
}

.nbr-block-code .syntax-highlighter-pre {
  @apply rounded-lg;
  @apply p-5 !important;
}

.nbr-block-callout {
  @apply bg-gray-100 pr-6 py-5 pl-4 rounded flex;
}

.nbr-block-callout .nbr-icon {
  @apply min-w-min w-4 relative top-0.5;
}

.nbr-block-callout .nbr-callout {
  @apply overflow-hidden w-full;
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
}

.nbr-block-ul {
  @apply pl-4 list-disc text-paragraph tracking-wide text-sm sm:text-base;
}

.nbr-block-ol {
  @apply pl-4 list-decimal text-paragraph tracking-wide text-sm sm:text-base;
}

.nbr-blocks > div {
  @apply mb-4;
}

.nbr-image > img {
  @apply rounded-lg;
}

.nbr-block-table_of_contents {
  @apply p-5 list-disc bg-gray-100 rounded;
}

.nbr-block-table_of_contents > div {
  @apply my-1;
}

.nbr-block-table_of_contents a {
  @apply underline text-gray-600;
}
